$primary: #00b0d8;
$secondary: #1d3557;
$whiteish: #f1faee;
$redish: #d00000;
.coin_search {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  width: 500px;
}
.search_input {
  background-color: $primary;
  color: $whiteish;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 16px;
  font-size: medium;
  border-radius: 4px;
  &::placeholder {
    color: $whiteish;
  }
}
